<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="adlayout :: head"></head>
<body>
	<div th:replace="adlayout :: header"></div>
	<div th:replace="homelayout::modal"></div>
	<!--Content-->
	<main class="container-fluid" id="mainad"> <!--./ code here -->
	<div class="modal-content">
		<div class="modal-body" style="margin-top: 54px">
			<div id="wrapper">
				<div th:replace="adlayout :: sidebar"></div>
				<div id="page-content-wrapper">
					<h1 id="home" class="text-center font-bold mt-1"
						th:text="#{m.accountmanagement}">Account Management</h1>
					<!--Grid column-->
					<div class="mb-r">
						<!-- Nav tabs -->
						<ul class="nav nav-tabs nav-justified" role="tablist">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#panel5" role="tab"><i
									class="fa fa-user"></i> <th:block th:text="#{m.account}"></th:block></a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#panel6" role="tab"><i class="fa fa-heart"></i> <th:block
										th:text="#{m.role}"></th:block> </a></li>
						</ul>
						<!-- Tab panels -->

						<div class="tab-content">
							<!--Panel 1-->
							<div class="tab-pane fade in show active" id="panel5"
								role="tabpanel">
								<br />
								<div class="rowbtn">
									<button class="btn btn-sm btn-success" data-target=".modal"
										data-toggle="modal" href="nguoidung/create">
										<i class="fa fa-plus mr-1"></i>Add
									</button>
									<button disabled="disabled" class="btn btn-sm btn-warning"
										data-target=".modal" data-toggle="modal" id="editnd">
										<i class="fa fa-magic mr-1"></i>Edit
									</button>
									<button disabled="disabled" class="btn btn-sm btn-danger"
										data-target=".modal" data-toggle="modal" id="deletend">
										<i class="fa fa-trash mr-1"></i>Delete
									</button>
								</div>
								<table width="100%" cellspacing="0"
									class="table table-hover responsive nowrap" id="tbnd">
									<thead>
										<tr>
											<th class="rgba-teal-strong">Mã ND</th>
											<th class="rgba-teal-strong">Họ tên</th>
											<th class="rgba-teal-strong">Phái</th>
											<th class="rgba-teal-strong">Quyền</th>
											<th class="rgba-teal-strong">Ngày sinh</th>
											<th class="rgba-teal-strong">Địa chỉ</th>
											<th class="rgba-teal-strong">CMND</th>
											<th class="rgba-teal-strong">Email</th>
											<th class="rgba-teal-strong">Mật khẩu</th>
											<th class="rgba-teal-strong">Kích hoạt</th>
											<th class="rgba-teal-strong">Loại tài khoản</th>
											<th class="rgba-teal-strong">Isdeleted</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="nd,i : ${ds}" class="odd gradeX">
											<td th:text="${nd.mand}">ID</td>
											<td th:text="${nd.hovaten}">Full Name</td>
											<td th:text="(${nd.phai}) ? 'Female' : 'Male'">Sex</td>
											<td th:text="${nd.quyen.tenquyen}">Full Name</td>
											<td th:text="${nd.ngaysinh}">Date of birth</td>
											<td th:text="${nd.diachi}">Address</td>
											<td th:text="${nd.cmnd}">Identity card number</td>
											<td th:text="${nd.email}">Email</td>
											<td th:text="${nd.matkhau}">Password</td>
											<td th:text="${nd.kichhoat}">Kích hoạt</td>
											<td th:text="${nd.loaitaikhoan}">Loại tài khoản</td>
											<td th:text="${nd.isdeleted}">Isdeleted</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--/.Panel 1-->

							<!--Panel 2-->
							<div class="tab-pane fade" id="panel6" role="tabpanel">
								<br />
								<div class="rowbtn">
									<button class="btn btn-sm btn-success" data-target=".modal"
										data-toggle="modal" href="quyen/create">
										<i class="fa fa-plus mr-1"></i>Add
									</button>
									<button disabled="disabled" class="btn btn-sm btn-warning"
										data-target=".modal" data-toggle="modal" id="editquyen">
										<i class="fa fa-magic mr-1"></i>Edit
									</button>
									<button disabled="disabled" class="btn btn-sm btn-danger"
										data-target=".modal" data-toggle="modal" id="deletequyen">
										<i class="fa fa-trash mr-1"></i>Delete
									</button>
								</div>
								<table width="100%" cellspacing="0"
									class="table table-hover responsive nowrap" id="tbquyen">
									<thead>
										<tr>
											<th class="rgba-teal-strong">Mã quyền</th>
											<th class="rgba-teal-strong">Tên quyền</th>
											<th class="rgba-teal-strong">Isdeleted</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="q,i : ${dsq}" class="odd gradeX">
											<td th:text="${q.maquyen}">ID</td>
											<td th:text="${q.tenquyen}">Name</td>
											<td th:text="${q.isdeleted}">Isdeleted</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!--/.Panel 2-->
						</div>

					</div>
					<!--Grid column-->
				</div>
			</div>
		</div>
	</div>
	</main>
	<footer th:replace="adlayout :: footer"></footer>
	<script>
		// Material Select Initialization		
		$(document).ready(
				function() {
					//Table
					var tbnd = $('#tbnd').DataTable(
							{
								dom : 'Bfrtip',
								"columnDefs" : [ {
									"targets" : [0, 5, 6, 8, 9, 10, 11 ],
									"visible" : false,
									"searchable" : false
								} ],
								select : {
									style : 'single' //'multi',
								// selector : 'td:first-child'
								},
								lengthMenu : [
										[ 10, 25, 50, -1 ],
										[ '10 rows', '25 rows', '50 rows',
												'Show all' ] ],
								buttons : [ 'pageLength', {
									text : 'Select All',
									className : '',
									counter : true,
									action : function(e, dt, node, config) {
										if (config.counter) {
											this.text('Select None');
											tbnd.rows({
												page : 'current'
											}).select();
											config.counter = false;
										} else {
											this.text('Select All');
											tbnd.rows({
												page : 'current'
											}).deselect();
											config.counter = true;
										}
									}
								}, {
									extend : 'colvis',
									collectionLayout : 'fixed two-column'
								} ]
							});
					//Table
					var tbquyen = $('#tbquyen').DataTable(
							{
								dom : 'Bfrtip',
								"columnDefs" : [ {
									"targets" : [ 2 ],
									"visible" : false,
									"searchable" : false
								} ],
								select : {
									style : 'single' //'multi',
								// selector : 'td:first-child'
								},
								lengthMenu : [
										[ 10, 25, 50, -1 ],
										[ '10 rows', '25 rows', '50 rows',
												'Show all' ] ],
								buttons : [ 'pageLength', {
									text : 'Select All',
									className : '',
									counter : true,
									action : function(e, dt, node, config) {
										if (config.counter) {
											this.text('Select None');
											tbquyen.rows({
												page : 'current'
											}).select();
											config.counter = false;
										} else {
											this.text('Select All');
											tbquyen.rows({
												page : 'current'
											}).deselect();
											config.counter = true;
										}
									}
								}, {
									extend : 'colvis',
									collectionLayout : 'fixed two-column'
								} ]
							});

					//btn
					////////////////////////////// NGUOI DUNG /////////////////////////////////////
					var idnd;
					$('#tbnd tbody').on('click', 'tr', function() {
						if ($(this).hasClass('selected')) { //da chon roi thi ko chon nua
							console.log('selected');
							$('#editnd').removeAttr("disabled");
							$('#deletend').removeAttr("disabled");
							$(this).removeClass('selected');
							idnd = tbnd.row($(this)).data();
						} else {
							console.log('un selected');
							$('#editnd').attr('disabled', 'disabled');
							$('#deletend').attr('disabled', 'disabled');
							$(this).addClass('selected');
						}
					});
					$('#editnd').click(function() {
						$(this).attr('href', 'nguoidung/' + idnd[0] + '/edit');
					});
					$('#deletend').click(
							function() {
								$(this).attr('href', 'isdelete');
								setTimeout(
										//waiting
										function() {
											$('#titledelete').html(
													'Are you sure delete '
															+ idnd[0]);
											$('#yesdelete').attr(
													'href',
													'nguoidung/' + idnd[0]
															+ '/delete');
										}, 100);
							});

					tbnd.rows().every(function(rowIdx, tableLoop, rowLoop) {
						var data = this.data();
						if (data[11] == 'true') { //isdeleted column
							this.node().remove();
						}
					});

					///////////////////////////// QUYEN ////////////////////////////////////
					var idquyen;
					$('#tbquyen tbody').on('click', 'tr', function() {
						if ($(this).hasClass('selected')) { //da chon roi thi ko chon nua
							$('#editquyen').removeAttr("disabled");
							$('#deletequyen').removeAttr("disabled");
							$(this).removeClass('selected');
							idquyen = tbquyen.row($(this)).data();
							console.log(idquyen);
						} else {
							$('#editquyen').attr('disabled', 'disabled');
							$('#deletequyen').attr('disabled', 'disabled');
							table.$('tr.selected').removeClass('selected');
							$(this).addClass('selected');
						}
					});
					$('#editquyen').click(function() {
						$(this).attr('href', 'quyen/' + idquyen[0] + '/edit');
					});
					$('#deletequyen').click(
							function() {
								$(this).attr('href', 'isdelete');
								setTimeout(
								//waiting
								function() {
									$('#titledelete')
											.html(
													'Are you sure delete '
															+ idquyen[0]);
									$('#yesdelete').attr('href',
											'quyen/' + idquyen[0] + '/delete');
								}, 100);
							});
					
					tbquyen.rows().every(function(rowIdx, tableLoop, rowLoop) {
						var data = this.data();
						if (data[2] == 'true') { //isdeleted column
							this.node().remove();
						}
					});
				});
	</script>

</body>
</html>